<?xml version="1.0"?>
<!--
/**
 * This source file is subject to the agilecodex.com license that is
 * available through the world-wide-web at this URL:
 * https://www.agilecodex.com/license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
	    <resources>
	        <resource id="Magento_Backend::admin">
	        	<resource id="Acx_BrandSlider::brandslider" title="Acx BrandSlider" sortOrder="10">
	        	    <resource id="Acx_BrandSlider::brandslider_brands" title="Manage Brands" sortOrder="10" />
	        	</resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Acx_BrandSlider::config" title="Acx Brand Slider" sortOrder="113" />
                        </resource>
                    </resource>
                </resource>
	        </resource>
	    </resources>
	</acl>
</config>
