<?xml version="1.0"?>
<!--
/**
 *  Copyright © Agile Codex Ltd. All rights reserved.
 *  License: https://www.agilecodex.com/license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
	    <resources>
	        <resource id="Magento_Backend::admin">
	        	<resource id="Acx_BrandSlider::brand" title="Brand Management by AgileCodex" sortOrder="10">
	        	    <resource id="Acx_BrandSlider::brand_brands" title="Brand List" sortOrder="10" />
	        	</resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Acx_BrandSlider::config" title="Brand Slider" sortOrder="113" />
                        </resource>
                    </resource>
                </resource>
	        </resource>
	    </resources>
	</acl>
</config>
