<?xml version="1.0"?>
<!--
/**
 *  Copyright © Agile Codex Ltd. All rights reserved.
 *  License: https://www.agilecodex.com/license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brandslider>
            <general>
                <enable_frontend>1</enable_frontend>
            </general>
        </brandslider>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <tmp_images_folder>tmp</tmp_images_folder>
                    <brandslider_folder>acx/brand</brandslider_folder>
                </allowed_resources>
            </media_storage_configuration>
            <upload_configuration>
                <jpeg_quality>80</jpeg_quality>
            </upload_configuration>
        </system>
    </default>
</config>
