<?xml version="1.0"?>
<!--
/**
 *  Copyright © Agile Codex Ltd. All rights reserved.
 *  License: https://www.agilecodex.com/license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Acx_BrandSlider::brand" title="Brand Management" module="Acx_BrandSlider"
             sortOrder="21" resource="Acx_BrandSlider::brand" parent="Acx_Backend::AgileCodex"/>
        <add id="Acx_BrandSlider::brand_brands" title="Brand List" module="Acx_BrandSlider"
             sortOrder="22" parent="Acx_BrandSlider::brand" action="brand/brand"
             resource="Acx_BrandSlider::brand_brands"/>
    </menu>
</config>
