<?xml version="1.0"?>
<!--
/**
 *  Copyright © Agile Codex Ltd. All rights reserved.
 *  License: https://www.agilecodex.com/license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="brandslider" frontName="brandslider">
            <module name="Acx_BrandSlider"/>
        </route>
    </router>
</config>
