<?xml version="1.0"?>
<!--
/**
 * @author Agile Codex Ltd.
 * @copyright Copyright © 2020 Agile Codex Ltd (https://www.agilecodex.com)
 * @package Acx_BrandSlider
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="brandslider" translate="label" type="text" sortOrder="161809" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Acx_BrandSlider::config</resource>
            <class>separator-top</class>
            <label>Brand Slider</label>
            <tab>acx</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_frontend" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>